<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sayan.sdk.mediacollector" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity
            android:name=".CameraPicProvider$PermissionAndResultReceiverActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".SdCardPicProvider$ResultReceiverActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/crop_image_theme" />
    </application>
</manifest>
